@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Playfair+Display&family=Roboto+Mono:wght@100;400&family=Sofia+Sans:wght@100&family=Spectral:wght@200&family=Square+Peg&family=Waterfall&display=swap');
$fontcursive: 'Waterfall', cursive;
$fontcursive2: 'Square Peg', cursive;
$fonttitulo:'Amatic SC', cursive;
$fontsofia: 'Sofia Sans', sans-serif;
$roboto: 'Roboto Mono', monospace;
$fontsub: 'Playfair Display', serif;
$txtxsmall: 19px;
$txtsmall: 23px;
$txtmed: 30px;
$txtl: 45px;
$txtxl: 65px;
$txtxxl: 95px;
$txtxxs: 12px;
$txtp: 14px;