.piepage{
    background-color: rgb(203, 201, 184);
    color: black;
    font-size: $txtxxs;
    .dreams-p{
        img{
            width: 70px;
            margin: 10px;
            border-radius: 5px;
            &:hover{
                opacity: .3;
            }
        }
    }
}